body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.avatar {
  border-radius: 100px;
  display: inline-block;
  height: 50px;
  margin: 5px;
  width: 50px;
}

.login-wrapper {
  height: 100vh;
}

.login-form {
  margin: 30% auto;
  max-width: 330px;
  width: 100%;
}

.navbar ul>li {
  line-height: 55px;
}

.distance-from-navbar {
  margin-top: 100px;
}

.card {
  margin: 1em 0;
}

.fake-button {
  cursor: pointer;
}